extends _layouts/base

block content
    main.home
        .home__layer-bottom
            .shape__images.shape__images--top
                img.shape.shape--top(src="/images/home/shape-top.svg")
                img.shape.shape--middle(src="/images/home/shape-middle.svg")
            .shape__images.shape__images--middle
                img.shape.shape--middle-pink(src="/images/home/shape-middle-pink.svg")
                img.shape.shape--middle-green(src="/images/home/shape-middle-green.svg")
            .shape__images.shape__images--bottom
                img.shape.shape--bottom(src="/images/home/shape-bottom.svg")
            .texture
        .home__layer-top
        .home__layer-content
